$font-base: 'Open Sans', sans-serif;
$font-italic: 'free', sans-serif;
$font-icon: 'icomoon';

$regular :400;
$semi-bold: 600;
$bold: 700;

$color-main: #5363db;
$color-font: #555;
$color-placeholder: #888888;
$color-white: #fff;
$color-card-title: #777;
$color-before: #d7d7d7;
$color-copyright: #b7bffc;

$background-input: #f2f2f2;
$background-copy: #5363d8;
$background-button: #5b6ceb;
$background-footer: #5b6ceb;

$animation-speed: .4s;

$form-border-radius: 20px;
$border-radius: 8px;